*.rkt~
*.dep
*.zo
*.mov
\#*#
*.DS_Store


__pycache__
*/For_Competition/*
For_Competition/
*/chaseCompetition/*
*/localManias/*
tmp*
.vscode
target/
_build/
*~
.merlin
bot-images/*.png
bot-images/*.PNG
.#*
